<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
        <h3>Are you sure you want to delete the following course ?</h3>
        <table>
            <tr>
                <th>Name :</th>
                <th>{{courses.name}}</th>
            </tr>
            <tr>
                <th>Description :</th>
                <th>{{courses.desc}}</th>
            </tr>
        </table>

        <form action="/">
            {%csrf_token%}
            <input type="submit" value="NO" />
        </form>

        <form action="/delete/{{courses.id}}">
            {%csrf_token%}
            <input type="submit" value="YES! I WANT TO DELETE THIS" />
        </form>
       
    </body>
</html>